In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("insurance_data.csv")

In [3]:
data

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [4]:
from sklearn.model_selection import train_test_split

In [12]:
x_train , x_test , y_train , y_test = train_test_split(data[["age"]],data["bought_insurance"],train_size=0.9)

In [6]:
from sklearn.linear_model import LogisticRegression

In [13]:
model = LogisticRegression()

In [14]:
model.fit(x_train,y_train)

LogisticRegression()

In [15]:
model.predict(x_test)

array([0, 0, 1])

In [16]:
y_test

20    0
19    0
14    1
Name: bought_insurance, dtype: int64

In [17]:
model.score(x_test,y_test)

1.0