In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
stuff = load_iris()

In [4]:
dir(stuff)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [5]:
dataset = pd.DataFrame(data=stuff.data,columns=stuff.feature_names)

In [6]:
dataset

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [8]:
dataset.isnull()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                False             False              False             False
1                False             False              False             False
2                False             False              False             False
3                False             False              False             False
4                False             False              False             False
..                 ...               ...                ...               ...
145              False             False              False             False
146              False             False              False             False
147              False             False              False             False
148              False             False              False             False
149              False             False              False             False

[150 rows x 4 columns]

In [9]:
dataset["target"] = stuff.target

In [10]:
dataset

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [11]:
dataset["flower_name"] = dataset.target.apply(lambda x: stuff.target_names[x])

In [12]:
dataset

     sepal length (cm)  sepal width (cm)  ...  target  flower_name
0                  5.1               3.5  ...       0       setosa
1                  4.9               3.0  ...       0       setosa
2                  4.7               3.2  ...       0       setosa
3                  4.6               3.1  ...       0       setosa
4                  5.0               3.6  ...       0       setosa
..                 ...               ...  ...     ...          ...
145                6.7               3.0  ...       2    virginica
146                6.3               2.5  ...       2    virginica
147                6.5               3.0  ...       2    virginica
148                6.2               3.4  ...       2    virginica
149                5.9               3.0  ...       2    virginica

[150 rows x 6 columns]

In [13]:
from sklearn.model_selection import train_test_split

In [16]:
x  =dataset.drop(["target","flower_name"],axis="columns")

In [17]:
y = dataset["target"]

In [31]:
x_train , x_test , y_train , y_test = train_test_split(x,y,train_size=0.9)

In [19]:
from sklearn.svm import SVC

In [35]:
model = SVC(kernel="linear")

In [36]:
model.fit(x_train,y_train)

SVC(kernel='linear')

In [37]:
model.score(x_test,y_test)

1.0